<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470765701147-g4i2puulnlnrn005mbb6fj5a89sk2orp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470765701147-g4i2puulnlnrn005mbb6fj5a89sk2orp</string>
	<key>API_KEY</key>
	<string>AIzaSyAPk63px8PC-VUnS5UG38Qegmeq9fC1o8M</string>
	<key>GCM_SENDER_ID</key>
	<string>470765701147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thppyAdministration</string>
	<key>PROJECT_ID</key>
	<string>thppy-limkokwing</string>
	<key>STORAGE_BUCKET</key>
	<string>thppy-limkokwing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470765701147:ios:761027e1bc1ca8a0d550be</string>
</dict>
</plist>